.dart_tool/
.packages
.pub-cache/
.pub/
build/
/build/

# Android/iOS specific
android/key.properties
ios/.generated/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

# Environment & Config
.env
config.json
google-services.json
GoogleService-Info.plist

# IDEs
*.iml
*.iws
*.ipr
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db
